<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
            layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Projekty</title>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">
    <h1>
        Projekty
    </h1>
    <div>
        <a th:href="@{/projects/create}" class="btn btn-secondary">
            Nowy projekt
        </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th th:text="#{project.name}">Name</th>
            <th th:text="#{project.code}">Code</th>
            <th th:text="#{project.dateCreated}">Date Created</th>
            <th th:text="#{project.creator}">Creator</th>
            <th th:text="#{project.edit}">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projects}">
            <td th:text="${project.code}"/>
            <td th:text="${project.name}"/>
            <td th:text="${#dates.format(project.dateCreated, 'dd/MM/yyyy')}"/>
            <td th:text="${project.person.username}"/>
            <td>
                <a th:href="@{'/projects/edit/' + ${project.id}}" class="btn btn-secondary">
                    Edytuj
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <div th:if="${param.logout}" class="alert alert-danger">
        <span th:text="#{login.loggedOut}"></span>
    </div>
</section>
</body>
</html>