<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
            layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Projekty</title>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="container">
    <h1 th:text="#{project.projects}">
        Projects
    </h1>
        <table>
            <tbody>

                    <form th:action="@{/projects}" th:object="${filter}" class="row">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="mb3">
                                        <a th:href="@{/projects/create}" class="btn btn-secondary">
                                            Nowy projekt
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col">
                                        <input th:field="*{globalSearch}"
                                               class="form-control"
                                               th:placeholder="common.globalSearch"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="mb3">
                                        <button class="btn btn-secondary" type="submit" th:text="#{common.search}"></button>
                                    </div>
                                </td>
                                <td>
                                    <div class="col">
                                        <a th:href="@{/projects}" class="btn btn-secondary" th:text="#{common.clear}"></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        </form>


    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{project.name}">Name</th>
            <th th:text="#{project.code}">Code</th>
            <th th:text="#{project.dateCreated}">Date Created</th>
            <th th:text="#{project.creator}">Creator</th>
            <th th:text="#{common.editdelete}">Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projects}">
            <td th:text="${project.name}"/>
            <td th:text="${project.code}"/>
            <td th:text="${#dates.format(project.dateCreated, 'dd/MM/yyyy')}"/>
            <td th:text="${project.person.username}"/>
            <td>
                <a th:href="@{'/projects/edit/' + ${project.id}}" class="btn btn-secondary">
                    Edytuj
                </a>
                <a th:href="@{'/projects/delete/' + ${project.id}}" class="btn btn-danger">
                    Usun
                </a>
        </tr>
        </tbody>
    </table>
</div>
    <div th:if="${param.logout}" class="alert alert-danger">
        <span th:text="#{login.loggedOut}"></span>
    </div>
</section>
</body>
</html>