<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}" xmlns:xnlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zgłoszenia</title>
</head>
<section layout:fragment="custom-content">
<body>
<div class="container">
    <h1 th:if="${issue.id == null}">
        <center>Nowe zgłoszenie</center>
    </h1>
    <h1 th:action="@{/issues/save}" th:if="${issue.id != null}">
        <center>Edycja zgłoszenia <span th:text="${issue.code}"></span></center>
    </h1>

    <form th:action="@{/issues/save}" th:object="${issue}" method="post">
        <div class="mb-3">
            <label for="project" class="form-label">
                Projekt
            </label>
            <select id="project"
                    class="form-control"
                    th:field="*{project}">
                <option th:each ="project : ${projects}"
                        th:value="${project.id}"
                        th:text="${project.code}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="issue-code" class="form-label">
                Kod
            </label>
            <input type="text" class="form-control" id="issue-code" th:field="*{code}">
        </div>
        <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span>

        <div class="mb-3">
            <label for="issue-name" class="form-label">
                Nazwa
            </label>
            <input type="text"
                   th:class="'form-control '+ ${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                   id="issue-name"
                   th:field="*{title}">
        </div>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>

        <div class="mb-3">
            <label for="issue-content" class="form-label">
                Opis Zgłoszenia
            </label>
            <input type="text" th:rows="3"
                   th:class="'form-control '+ ${#fields.hasErrors('content') ? 'is-invalid' : ''}"
                   id="issue-content"
                   th:field="*{content}">
        </div>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></span>

        <div class="mb-3">
            <label for="demo" class="form-label">
                Typ zgłoszenia
            </label>
            <select name="demo" id="demo" class="form-control" th:field="*{type}">
                <option th:each ="issueType : ${T(com.wsb.wsbfinalproject2022.issues.IssueType).values()}"
                        th:value="${issueType}"
                        th:text="${issueType}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">
                Status
            </label>
            <select name="status" id="status" class="form-control" th:field="*{status}">
                <option th:each ="issueStatus : ${T(com.wsb.wsbfinalproject2022.issues.IssueStatus).values()}"
                        th:value="${issueStatus}"
                        th:text="${issueStatus}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="priority" class="form-label">
                Priorytet
            </label>
            <select name="priority" id="priority" class="form-control" th:field="*{priority}">
                <option th:each ="issuePriority : ${T(com.wsb.wsbfinalproject2022.issues.IssuePriority).values()}"
                        th:value="${issuePriority}"
                        th:text="${issuePriority}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="creator" class="form-label">
                Utworzył
            </label>
            <select id="creator"
                    class="form-control"
                    th:field="*{person}">
                <option th:each ="person : ${persons}"
                        th:value="${person.id}"
                        th:text="${person.username}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="assignee" class="form-label">
                Osoba przypisana:
            </label>
            <select id="assignee"
                    class="form-control"
                    th:field="*{assignee}">
                <option th:each ="person : ${persons}"
                        th:value="${person.id}"
                        th:text="${person.username}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for = "dateCreated" class="form-label">
                Date created
            </label>
            <input type="date" th:field="*{dateCreated}" id="dateCreated"/>
        </div>

        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>
</body>
</section>
</html>